
data/*
.env
.env.*
!.env.example
steps.sh

__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg-info/
.eggs/
*.egg
build/
dist/
.mypy_cache/
.pytest_cache/
.ipynb_checkpoints/

data/
warehouse/
*duckdb
*.duckdb
*.parquet
*.csv
*.json


airflow/airflow.db
airflow/airflow.db-journal
airflow/logs/
airflow/plugins/__pycache__/
airflow/airflow.cfg.backup
airflow/webserver_config.py
airflow/instance/
airflow/tmp/

spark-warehouse/
derby.log
.metastore/
spark-events/
spark_logs/
tmp/

*.pid
*.log
docker-compose.override.yml
docker-volume/
.docker/
docker_data/

.DS_Store
.AppleDouble
.LSOverride
._*

.vscode/
.history/
*.code-workspacedata/
warehouse/
*.duckdb
